<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{msg}}
        </div>
    </div>
        	
    <div class="row">
        <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <li ng-repeat="loan in loansAvailable" class="listLoans">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="loanTitle">{{loan.title}}</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 loanListCont">
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 labelLoanDetails">Trance:</span>
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 loanDetailsVal">{{loan.tranche}}</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 loanListCont">
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 labelLoanDetails"> Available:</span>
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 loanDetailsVal">{{loan.available}}</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 loanListCont">
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 labelLoanDetails">Annualised Return:</span>
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 loanDetailsVal">{{loan.annualised_return}}</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 loanListCont">
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 labelLoanDetails"> Term Remaining:</span>
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 loanDetailsVal">{{loan.term_remaining | millToDate}}</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 loanListCont">
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 labelLoanDetails"> Ltv:</span>
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 loanDetailsVal">{{loan.ltv}}</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 loanListCont">
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 labelLoanDetails">amount:</span>
                            <span class="col-lg-12 col-md-12 col-sm-6 col-xs-6 loanDetailsVal">{{loan.amount}}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <div class="labelLoanInvested"><span ng-if="loan.invested">Invested</span></div>
                        <div class="investLoan">
                            <a class="btn btn-sm investButton" ng-click="openModal($index)" tabindex="0">Invest in Loan</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 totalAmountAvailable">
        Total Amount available for investments:&nbsp<span class="totalAmountAvailableVal">£{{totalAmountAvailable}}</span>
    </div>
</div>


